<html>
    <head>
        <title>Место силы!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">БЕЗ ЗЛА - МЕСТО СИЛЫ</a></h1>
        </div>

        <div>
            <p>published: 27.11.2017, 12:14</p>
            <h2><a href="">СУТЬ ОБЪЕДИНЕНИЯ "БЕЗ ЗЛА"</a></h2>
            <p>БОРЬБА С ОБЫВАТЕЛЯМИ 24\7</p>
            <p>ВНЕДРНЕИЕ ВКУСА</p>
            <p>РАЗВИТИЕ КУЛЬТУРЫ В РОССИИ</p>
            <p>УНИЧТОЖЕНИЕ ШАБЛОНОВ</p>
        </div>

        <div>
            <p>published: 27.11.2017, 04:20</p>
            <h2><a href="">УЧАСТНИКИ ДУХОВНОГО ОБЪЕДИНЕНИЯ "БЕЗ ЗЛА"</a></h2>
            <p>КОЛЯ Б. instagram.com/bezzlah</p>
            <p>ДИМА П. instagram.com/iamkeepdeep</p>
            <p>ВЛАД Ф. instagram.com/zazrya</p>
        </div>
    </body>
</html>
